{%extends "base.html" %}
  {%load static%}
  
  
  {%block content%}
            <div class="row tm-row">
                <div class="col-12">
                    <hr class="tm-hr-primary tm-mb-55">
                    <!-- Video player 1422x800 -->
                    <img src="{{post.thumbnail.url}}" width="800" height="480" controls class="tm-mb-40">
                        
                </div>
            </div>
            <div class="row tm-row">
                <div class="col-lg-8 tm-post-col">
                    <div class="tm-post-full">                    
                        <div class="mb-4">
                            <h2 class="pt-2 tm-color-primary tm-post-title">{{post.title}}</h2>
                            <p class="tm-mb-40">{{post.published_date}} posted by Admin Nat</p>
                            <p>
                                {{post.content}}   
                            </p>
                        {%for t in post.tags.all%}
                            
                            <span class="d-block text-right tm-color-primary">{{t.name}}</span>
                            {%endfor%}
                        </div>
                             
                        
                        <!-- Comments -->
                        
                        <div>
                            <h2 class="tm-color-primary tm-post-title">Comments</h2>
                            <ul>
                                {%if comments%}
                                {%for comment in comments%}
                               
                                <li>{{comment.name}}:
                                    {{comment.comment}}
                                </li>
                                {%endfor%}
                                {%else%}
                                <li>No comments Added</li>
                            {%endif%}
    
    
                
                              </ul>
                                <span class="d-block text-right tm-color-primary">June 21, 2020</span>
                            </div>
                            <form action="" method="post" class="mb-5 tm-comment-form">
                                {%csrf_token%}
                                <h2 class="tm-color-primary tm-post-title mb-4">Your comment</h2>
                                {{form.as_p}}
                                <div class="text-right">
                                    <button class="tm-btn tm-btn-primary tm-btn-small"type="submit">Submit</button>                        
                                </div>                                
                            </form>                          
                        </div>
                    </div>
                </div>
                <aside class="col-lg-4 tm-aside-col">
                    <div class="tm-post-sidebar">
                        <hr class="mb-3 tm-hr-primary">
                        <h2 class="mb-4 tm-post-title tm-color-primary">Categories</h2>
                        <ul class="tm-mb-75 pl-5 tm-category-list">
                            {%for cate in categories%}
                            <li><a href="{%url 'category-post' cate.name%}" class="tm-color-primary">{{cate.name}}</a></li>
                            {%endfor%}
                        </ul>
                        <hr class="mb-3 tm-hr-primary">
                        <h2 class="tm-mb-40 tm-post-title tm-color-primary">Related Posts</h2>
                        {%for p in similar_post%}
                        <a href="{%url 'post_detail' p.id %}" class="d-block tm-mb-40">
                            <figure>
                                <img src="{{p.thumbnail.url}}" alt="Image" class="mb-3 img-fluid">
                                <figcaption class="tm-color-primary">{{p.title}}</figcaption>
                            </figure>
                        </a>
                        {%endfor%}
                    </div>                    
                </aside>
            </div>
{%endblock content %}